@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    font-family: "Nunito Sans", sans-serif;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@layer components {
}

@layer utilities  {
  .auth-container {
    @apply relative flex h-screen w-screen bg-primary items-center justify-center;
  }
  .auth-form {
    @apply w-5/12 flex items-center justify-center bg-primary;
  }

  .auth-box {
    @apply gradient-vertical mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .auth-illustration {
    @apply sticky h-full w-60 sm:top-0 sm:h-screen sm:flex-1;
  }
  .auth-form-container {
    @apply flex flex-col gap-4 w-[340px] max-h-[100vh] overflow-y-scroll hide-scrollbar pb-3 pt-5;
  }

  .auth-heading {
    @apply text-2xl font-bold leading-6 text-yellow text-center mt-5;
  }

  .auth-subtext {
    @apply text-light-100 leading-6 text-center text-pretty;
  }

  .auth-error {
    @apply p-2.5 text-center text-red w-full bg-light-200 text-pretty;
  }

  .auth-input-container {
    @apply relative flex items-center;
  }

  .auth-input {
    @apply pl-10 bg-white rounded-2xl text-primary text-base;
  }

  .search-input {
    @apply w-[35vw] bg-light-400 rounded-full !text-xl text-gray-100 placeholder:text-xl placeholder:text-light-300 font-normal py-4 px-8 h-14;
  }

  .icon-left {
    @apply absolute left-3;
  }

  .icon-right {
    @apply absolute right-5;
  }

  .toggle-password {
    @apply absolute right-3 top-2 text-primary;
  }

  .auth-button {
    @apply w-full bg-yellow text-primary rounded-full font-bold text-lg px-8;
  }

  .button {
    @apply bg-yellow text-primary rounded-full font-medium text-base px-6 py-4
  }

  .nav-item {
    @apply text-xl text-black-100 font-semibold
  }

  .main-section {
    @apply relative mb-14
  }

  .main-section-colored {
    @apply main-section relative before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:h-[60%] before:bg-gray-300 before:-z-10
  }

  .heading {
    @apply text-4xl text-primary font-bold
  }

  .link-text {
    @apply text-blue-200 hover:underline
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}